.banner {
    background-size: 100%;
    background-image: url(../img/banner.jpg);
    height: 10em;
    background-repeat: no-repeat;

}
h1.banner-title {
    position: fixed;
    font-size: 5em;
    top: 0;
    margin: 1em;
    color: white;
}